#include <stdio.h>
#include <string.h>
#include <unistd.h>
#include <sys/types.h>
#include <stdlib.h>

{% if options["blacklist"] %}
int check_blacklist(char *arr[], char* value, int length)
{
	int i;
	char* ret;
	for (i = 0; i < length; ++i)
	{
		ret = strstr(value, arr[i]);
		if (ret){
			printf("Blacklisted keyword detected!\n");
			return 0;
		}
	}
	return 1;
}
{% endif %}


int main(int argc, char **argv)
{
	char cmd[{{ options["buffer_size"] | default(30) }}] = "ping -c4 ";
	char ip[20];
	{% if options["blacklist"] %}
	{% set blacklisted = options["blacklist"].split(",") %}
	char *blacklist[] = { {{ blacklisted| map("to_json") | join(", ")}} };
	int blacklist_length = sizeof(blacklist) / sizeof(*blacklist);
	{% endif %}
	printf("Enter an ip to ping: ");
	fgets(ip, 20, stdin);
	
	{% if options["blacklist"] %}
	if (check_blacklist(blacklist, ip, blacklist_length)){
    	setreuid(geteuid(), geteuid());
    	setregid(getegid(), getegid());
		strcat(cmd, ip);
		execve(cmd);
	}
    else {
    	return 1;
    }
	{% else %}
    setreuid(geteuid(), geteuid());
    setregid(getegid(), getegid());
	strcat(cmd, ip);
	execve(cmd);
	{% endif %}
    return 0;
}

