#include <stdio.h>
#include <string.h>
#include <unistd.h>
#include <sys/types.h>

void setid()
{
	setreuid(geteuid(), geteuid());
    setregid(getegid(), getegid());
}

void shell()
{
    system("/bin/sh");
}

void super_shell()
{
	setid();
	shell();
}

int main()
{
    char buffer[{{ range(100, 501) | random }}];
    int pass = 0;

    printf("\n Enter the password : \n");
    gets(buffer);

    if(strcmp(buffer, "{{ range(1000) | random | hash('sha1') }}"))
    {
        printf ("\n Wrong Password \n");
    }
    else
    {
        printf ("\n Correct Password \n");
        pass = 1;
    }

    if(pass)
    {
        super_shell();
    }

    return 0;
}