#include <stdio.h>
#include <stdlib.h>
#include <string.h>
#include <unistd.h>
#include <sys/types.h>

int main()
{
    {% if options["difficulty"] == "Hard" %}
    const int success_value = {{ options["specific_value"] }};
    {% endif %}
    char buffer[{{ range(100, 501) | random }}];
    int pass = 0;

    printf("\n Enter the password : \n");
    gets(buffer);

    {% if options["use_random"] %}
        {% set password = range(1000) | random | hash('md5') %}
    {% else %}
        {% set password = "St4t1c P455w0rD" %}
    {% endif %}
    
    if(strcmp(buffer, "{{ password }}")) {
        printf ("\n Wrong Password \n");
    }
    else {
        printf ("\n Correct Password \n");
        pass = 1;
    }

    {% if options["difficulty"] != "Hard" %}
    exit(!pass);
    {% else %}
    exit(!(pass == success_value));
    {% endif %}
}