#include <stdio.h>
#include <string.h>
#include <stdlib.h>
#include <sys/types.h>
#include <unistd.h>

{% if options["difficulty"] == "Redirect" %}
void help(){
    setreuid(geteuid(), geteuid());
    setregid(getegid(), getegid());
    char *argv[] = { "/bin/bash", "-p", NULL };
    execve(argv[0], argv, NULL);
}
{% endif %}

int main(int argc, char **argv){
 
    char buffer[256];
    int len, i;
 
    gets(buffer);
    len = strlen(buffer);
 
    printf("Hex result: ");

    for (i=0; i<len; i++)
        printf("%02x", buffer[i]);

    printf("\n");
 
    return 0;
}