{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

<div class="form-group row">
    <label for="exercice-path-PID" class="col-sm-2 control-label">Exercice</label>
    <div class="col-sm-10">
        <select type="text" class="form-control" id="exercice-path-PID" name="problem[PID][exercice-path]">
            <optgroup label="Public">
                {% if public_templates %}
                    {% for template in public_templates %}
                        <option value="{{ template.path }}" class="exercice-{{ template.unique_id }}">
                            {{ template.name }}
                        </option>
                    {% endfor %}
                {% else %}
                    <option disabled>No templates found</option>
                {% endif %}
            </optgroup>

            <optgroup label="Course specific">
                {% if course_templates %}
                    {% for template in course_templates %}
                        <option value="{{ template.path }}" class="exercice-{{ template.unique_id }}">
                            {{ template.name }}
                        </option>
                    {% endfor %}
                {% else %}
                    <option disabled>No templates found</option>
                {% endif %}
            </optgroup>
        </select>
    </div>
</div>
<div class="form-group row">
    <label for="header-PID" class="col-sm-2 control-label">Context</label>
    <div class="col-sm-10">
        <textarea id="header-PID" class="form-control" name="problem[PID][header]"></textarea>
    </div>
</div>
<div class="form-group row">
    <label for="difficulty-PID" class="col-sm-2 control-label">Difficulty</label>
    <div class="col-sm-10">
        <select type="text" class="form-control" id="difficulty-PID" name="problem[PID][difficulty]">
            {% if public_templates %}
                {% for template in public_templates %}
                    {% set type, difficulties = template.get_option("difficulties") %}
                    {% for difficulty in difficulties %}
                        <option value="{{ difficulty }}" class="exercice-{{ template.unique_id }}">
                            {{ difficulty }}
                        </option>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {% if course_templates %}
                {% for template in course_templates %}
                    {% set type, difficulties = template.get_option("difficulties") %}
                    {% for difficulty in difficulties %}
                        <option value="{{ difficulty }}" class="exercice-{{ template.unique_id }}">
                            {{ difficulty }}
                        </option>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </select>
    </div>
</div>
