{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

<div class="form-group row">
    <label for="exercise-selector-PID" class="col-sm-2 control-label">Exercise</label>
    <div class="col-sm-10">
        <select type="text" class="form-control" id="exercise-selector-PID" name="problem[PID][exercise-path]" onchange="reload_options('PID')">
            <optgroup label="Public">
                {% if public_templates %}
                    {% for template in public_templates %}
                        <option value="{{ template.path }}" class="exercise-{{ template.unique_id }}">
                            {{ template.name }}
                        </option>
                    {% endfor %}
                {% else %}
                    <option disabled>No templates found</option>
                {% endif %}
            </optgroup>

            <optgroup label="Course specific">
                {% if course_templates %}
                    {% for template in course_templates %}
                        <option value="{{ template.path }}" class="exercise-{{ template.unique_id }}">
                            {{ template.name }}
                        </option>
                    {% endfor %}
                {% else %}
                    <option disabled>No templates found</option>
                {% endif %}
            </optgroup>
        </select>
    </div>
</div>
<div class="form-group row">
    <label for="header-PID" class="col-sm-2 control-label">Context</label>
    <div class="col-sm-10">
        <textarea id="header-PID" class="form-control" name="problem[PID][header]"></textarea>
    </div>
</div>
<div class="form-group row">
    <label for="difficulty-selector-PID" class="col-sm-2 control-label">Difficulty</label>
    <div class="col-sm-10">
        <select type="text" class="form-control" id="difficulty-selector-PID" name="problem[PID][difficulty]" onchange="reload_options('PID')">
            {% if public_templates %}
                {% for template in public_templates %}
                    {% for difficulty in template.difficulties %}
                        <option value="{{ difficulty }}" class="exercise-{{ template.unique_id }}">
                            {{ difficulty }}
                        </option>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {% if course_templates %}
                {% for template in course_templates %}
                    {% for difficulty in template.difficulties %}
                        <option value="{{ difficulty }}" class="exercise-{{ template.unique_id }}">
                            {{ difficulty }}
                        </option>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </select>
    </div>
</div>
<div role="tabpanel" class="tab-pane show active upload-area" id="exercise-options-PID">
</div>
