{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

<div class="form-group row">
    <label for="exercice-PID" class="col-sm-2 control-label">Exercice</label>
    <div class="col-sm-10">
        <select type="text" class="form-control" id="exercice-PID" name="problem[PID][exercice]">
            {% for config in exercices_config %}
                <option value="{{ config['__path'] }}" class="exercice-{{ config['__id'] }}">
                    {{ config.get('name', config['__folder']) }}
                </option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="form-group row">
    <label for="header-PID" class="col-sm-2 control-label">Context</label>
    <div class="col-sm-10">
        <textarea id="header-PID" class="form-control" name="problem[PID][header]"></textarea>
    </div>
</div>
<div class="form-group row">
    <label for="difficulty-PID" class="col-sm-2 control-label">Difficulty</label>
    <div class="col-sm-10">
        <select type="text" class="form-control" id="difficulty-PID" name="problem[PID][difficulty]">
            {% for config in exercices_config %}
                {% set difficulties = config.get('front', {}).get('difficulties', []) %}
                {% for difficulty in difficulties %}
                    <option value="{{ difficulty }}" class="exercice-{{ config['__id'] }}">
                        {{ difficulty }}
                    </option>
                {% endfor %}
            {% endfor %}
        </select>
    </div>
</div>
<div class="form-group row">
    <label for="modify-PID" class="col-sm-3 control-label">Modify challenge content</label>
    <div class="col-sm-9">
        <div class="checkbox">
            <label>
                <input id="modify-PID" name="problem[PID][modify]" type="checkbox">
            </label>
        </div>
    </div>
</div>
