{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}
{% if exercise_options %}
    <h5>Options</h5>
        <div class="form-group row">
            <div class="col-sm-2">
                <label class="col-form-label">Switch to next step</label>
            </div>
            <div class="col-sm-10">
                <input type="text" name="problem[{{PID}}][step-switch]" value="{{exercise_switch}}" readonly>
            </div>
        </div>
        {% for element in exercise_options %}
            <div class="form-group row">
                <div class="col-sm-2">
                    <label for="{{element['id']}}-{{PID}}" class="col-form-label">{{element['label'] | title}}</label>
                </div>
                <div class="col-sm-10">
                    {% if element["type"] == 'text' %}
                        <input type="text" id="{{element['id']}}-{{PID}}" class="form-control" name="problem[{{PID}}][options][{{element['id']}}]"
                        {% if 'placeholder' in element %}
                            placeholder="{{element['placeholder']}}"
                        {% endif %}
                        >
                    {% elif element["type"] == 'checkbox' %}
                        <div class="form-check">
                            <input type="checkbox" id="{{element['id']}}-{{PID}}" class="form-check-input" name="problem[{{PID}}][options][{{element['id']}}]"
                            {% if 'checked' in element and element['checked'] %}
                                checked
                            {% endif %}
                            >
                        </div>
                    {% elif element["type"] == 'select' %}
                        <select id="{{element['id']}}-{{PID}}" class="form-control" name="problem[{{PID}}][options][{{element['id']}}]">
                            {% for value in element["values"] %}
                                <option value="{{value}}" {% if 'default' in element and element['default'] == value %} selected {% endif %}>{{value}}</option>
                            {% endfor %}
                        </select>
                    
                    {% elif element["type"] == 'radio' %}
                        <fieldset class="mb-3">
                            {% for button in element["buttons"] %}
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="problem[{{PID}}][options][{{element['id']}}]" id="{{button['id']}}-{{PID}}" value="{{button['id']}}" {% if 'default' in element and element['default'] == button['id'] %} checked {% endif %}>
                                    <label class="form-check-label">
                                        {{button["label"] | title}}
                                    </label>
                                </div>
                            {% endfor %}
                      </fieldset>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
{% endif %}