{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

<div class="ml-auto btn-group btn-group-sm" role="group">
    <a class="edit_template btn btn-info" href="{{get_homepath()}}/admin/{{course.get_id()}}/templates/edit/{{template.id}}"
            title="{{ _('Edit template') }}" data-toggle="tooltip" data-placement="bottom">
        <i class="fa fa-pencil"></i>
    </a>

    <button class="delete_template btn btn-warning" data-toggle="modal" data-target="#delete_template_modal" onclick="open_delete_modal(this)"
            title="{{ _('Delete template') }}" data-toggle="tooltip" data-placement="bottom">
        <i class="fa fa-trash"></i>
    </button>
</div>
